body {
  font-family: "Poppins", sans-serif;
}

.layout {
  padding: 0 17px;
  margin: auto;

  @include breakpoint(tablet) {
    margin: auto;
    max-width: 1320px;
    padding: 0 10px;
  }
}

.page__background__wrap {
  position: relative;

  &:before {
    content: "";
    background: var(--color1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &:after {
    content: "";
    background: url("./assets/bg-hero-mobile.svg") no-repeat top center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  }
}
